tb_logs/
*.pyc
.idea/.gitignore
.idea/autoML_switch_opt.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml

.spyproject/
.idea/

__pycache__/
2d_viz/graphs/
2d_viz/models/
src.egg-info/
*.pkl
Beta1.png
results/
data/
